.row {
  display: flex;
  align-items: center;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25em;
  background-color: var(--accent-light);
  border: 1px solid var(--accent-dark);
  display: grid;
  align-items: center;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 0;

  &:hover {
    opacity: 0.7;
  }

  &:checked {
    background-color: var(--accent-dark);

    &::after {
      font: var(--fa-font-solid);
      font-weight: 900;
      content: "\f00c";
      color: white;
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .checkbox {
    &:hover {
      opacity: 1;
    }
  }
}
